.cart-container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th,
.cart-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.cart-img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
}

.qty-btn {
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.qty-btn:disabled {
  background: #b5b5b5;
  cursor: not-allowed;
}

.qty {
  font-size: 18px;
  font-weight: bold;
  margin: 0 8px;
}

.remove-btn {
  background: red;
  color: white;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.total-box {
  text-align: right;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}


.checkout-box {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  padding: 10px 18px;
  background: #ff5722;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}


.order-btn {
  background: #4a90e2;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  width: 20%;
  margin-top: 10px;
}

.order-btn:hover {
  background: #357abd;
}



.view-products-btn{
  background:#3498db;
  color:#fff;
  padding:10px 18px;
  border:none;
  margin-top:10px;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
  width:20%;
}

.view-products-btn:hover{
  background:#2176b8;
}
