.order-page {
  width: 80%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.order-box {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.order-table th {
  background: #000;
  color: #fff;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}