.product-detail-container {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.left {
  width: 40%;
}

.detail-image {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
}

.right {
  width: 60%;
}

.price {
  font-size: 26px;
  color: #c45500;
  font-weight: bold;
}

.add-btn {
  background: #ff9900;
  border: none;
  padding: 14px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
}

.add-btn:hover {
  background: #f90;
}
